[submodule "registration"]
	path = registration
	url = https://github.com/Jailoodu/RestfulRegistration.git
[submodule "marketing"]
	path = marketing
	url = https://github.com/Jailoodu/RestfulMarketing.git
